<div class="container">

<%= simple_form_for([@tool]) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.button :submit, class: 'btn btn-info' %>
<% end %>

<%= link_to "Go back", tools_path, :class => "btn btn-flat", :method => :get %>

</div>
