<div class="container">
  <form action="/tools" accept-charset="UTF-8" method="get">
    <div class="search-form-control form-group mt-5">
      <input name="utf8" type="hidden" value="✓">
      <input type="text" name="query" id="query" value="" class="form-control string required" placeholder="Find a tool">
      <button type="submit" name="commit" value="Search" class="btn btn-corale" data-disable-with="Search">
      <i class="fas fa-search"></i> Search
      </button>
    </div>
  </form>
  <div class="d-flex justify-content-between mb-3 mt-4">
    <h1>All tools</h1>
    <div><%= link_to "Offer new tool", new_tool_path, :class => "btn btn-green", :method => :get %></div>
  </div>
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item w-50 text-center" style="color: black; border: 1px solid lightgrey;">
      <a class="nav-link active" data-toggle="tab" style="color: black;" href="#list" role="tab">List</a>
    </li>
    <li class="nav-item w-50 text-center" style="color: black; border: 1px solid lightgrey;">
      <a class="nav-link" style="color: black;" data-toggle="tab" href="#map_data" role="tab">Map</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="list" role="tabpanel">

      <div class="cards">
        <%@tools.order(created_at: :desc).each do |tool| %>
        <% if tool.photo.attached? %>
        <div class="card-info">
          <%= cl_image_tag tool.photo.key, height: 300, width: 400, crop: :fill%>
          <div class="card-info-details">
            <div>
              <h1><%= link_to tool.name, tool_path(tool), :style => "color: black"%></h1>
            </div>
            <h2 class="card-info-location"><%=tool.user.address%><%= image_tag "pin.png", alt: "alttext", class: "card-pin-icon"%></h2>
          </div>
        </div>
          <%end%>
          <%end%>
      </div>

    </div>

  <div class="tab-pane fade" id="map_data" role="tabpanel">
    <div
      id="map"
      style="width: 100%; height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>
</div>
</div>
