<div class="container mt-4">
  <% if @tool.photo.attached? %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @tool.photo.key, height: 300, width: 400, crop: :fill, class: 'card-category'%>')"></div>
    <% end %>

    <h4 class="border-bottom my-4 pb-2"><%= @tool.name %></h4>
    <div>
      <strong>Desrciption:</strong>
      <p>
        <%= @tool.description %>
      </p>
    </div>
    <div>
      <strong>Tool owner</strong>
      <p>
        <%= @tool.user.email %>
      </p>
    </div>

    <div class="my-3">
      <% if @tool.booked %>
        <span class="text-danger">
          not avaliable
          <i class="far fa-times-circle"></i>
        </span>
      <% else %>
        <span class="text-success">
        Avaliable
        <i class="far fa-check-circle "></i>
      </span>
      <% end %>
    </div>

    <% if !@tool.booked %>
      <%= simple_form_for [@tool, @reservation]  do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.button :submit, class: 'btn btn-info', 'data-toggle' => "modal", 'data-target' => "#exampleModalLong" %>
      <% end %>
    <% else %>
      Reservation was successfull! <br>
      Start date:
      <% @tool.reservations.each do |res| %>
        you have res:
        <p><%= (res.end_date - res.start_date).to_i %></p>
        pick
        <p><%= (res.start_date - Date.today).to_i %></p>
        return
        <p><%= (res.end_date - Date.today).to_i %></p>
      <% end %>
    <% end %>
  </div>










<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title text-success" id="exampleModalLongTitle">Your reservation was successful!</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
        Start date: <br>
        <%=  %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
        <%= link_to tool_path(@tool),  'type' => "button", 'class' => 'btn btn-secondary', 'data-dismiss' => "modal" %>

      </div>
    </div>
  </div>
</div>



