<div class="box-wrapper container">
  <div class="box-responsive">
    <% if @tool.photo.attached? %>
      <div class="box-r-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @tool.photo.key, height: 300, width: 400, crop: :fill %>')"></div>
    <% end %>

    <div class="box-r-text">
      <h2><%= @tool.name %></h2>
      <table class="box-table">
        <tr>
          <th>Owner:</th>
          <td><%= @tool.user.email %></td>
        </tr>
        <% if @tool.user != current_user%>
          <tr>

            <td>
              <% if @tool.booked %>
                <%# if @tool.reservations.last.user != current_user %>
                  <p class="bold">Availability:</p class="bold">
                  <span class="text-danger">not available</span>
                <%# end %>
              <% else %>
                  <%# if @tool.reservations.last.user != current_user %>
                    <p class="bold">Availability:</p class="bold">
                    <span class="text-success">Available</span>
                  <%# end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="box-fix">
    <div class="box-f-text">
      <h3>Description:</h3>
      <p><%= @tool.description %></p>
    </div>
  </div>

  <% if !@tool.booked && @tool.user != current_user %>
    <button type="button" class="btn btn-green btn-block" data-toggle="modal" data-target="#exampleModal">
      Rent Tool
    </button>
  <% end %>
</div>

<%= render '/reservations/modal' %>



