<div class="container">

<h1><%= @tool.name %></h1>

<%= @tool.description %>
<%= @tool.user.email %>

<%= link_to "Edit", edit_tool_path, :class => "btn btn-flat", :method => :get %>
<%= link_to "Go back", tools_path, :class => "btn btn-flat", :method => :get %>

</div>
