<div class="container">
  <h2 style="margin-top: 15px;">ToolShare  <br> Register New Account</h2>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  placeholder: "i.e. example@toolshare.com",
                  input_html: { autocomplete: "email" }%>

      <%= f.input :username,
                  required: true,
                  required: true,
                  placeholder: "i.e. Sharer123",
                  autofocus: true %>

      <%= f.input :address,
                  label: "Address (postal code)",
                  required: true,
                  placeholder: "i.e. 10178",
                  autofocus: true %>

      <%= f.input :phone_number,
                  label: "Phone Number",
                  required: true,
                  placeholder: "+49 (0) 160 1337 1338",
                  autofocus: true %>

      <%= f.input :photo, as: :file,
                  label: "Upload your Picture",
                  required: false,
                  autofocus: true %>

      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  placeholder: "*********",
                  input_html: { autocomplete: "new-password" } %>

      <%= f.input :password_confirmation,
                  required: true,
                  placeholder: "repeat above password",
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: "btn btn-green" %>
    </div>
  <% end %>

  <div class="shared" style="margin-top: 10px; margin-bottom: 10px;">
    <%= render "devise/shared/links" %>
  </div>

  <%= link_to "Cancel Registration (back home)", root_path %>

</div>

