<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ToolShare</title>
    <%= favicon_link_tag %>
    <!-- <link rel="shortcut icon" type="image/png" href="../assets/images/logo.png"> -->
    <meta property="og:title" content="ToolShare | borrow and lend " />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Borrow and lend your tools to nice people in your surroundings! Easy, fair, free." />
    <meta property="og:url" content="http://toolshare-danitoholiday.herokuapp.com/" />
    <meta property="og:image" content="https://res.cloudinary.com/dyuwip9bs/image/upload/v1594115295/ToolShare/Banner%20OG%20META/TOOLSHARE_META_fudh8r.png" />
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>


    <%= yield %>

    <%= render 'shared/footer' %>


    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
